<div class="card">
  <img [src]="product.thumbnail" [alt]="product.title" class="product-img" />

  <h2>{{ product.title }}</h2>

  <p class="price">
    {{ product.price | currency:'EGP':'symbol':'1.2-2' }}
    @if (product.discountPercentage > 0) {
      <span class="discount">(-{{ product.discountPercentage }}%)</span>
    }
  </p>

  <p [style.color]="product.stock === 0 ? 'red' : 'green'">
    {{ product.stock === 0 ? 'Out of Stock' : 'In Stock' }}
  </p>

  <p class="rating">
    @for (star of getstarArray(); track $index) {
      ⭐
    }
    ({{ product.rating }}/5)
  </p>

  <button [disabled]="product.stock === 0">Add to Cart</button>
</div>
